@media only screen and (max-width:1920px) {
	.header-banner {
		padding-top: 220px;
		padding-bottom: 220px;
	}
}

@media (min-width: 1400px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
	  max-width: 1170px;
	  padding-left: calc(var(--bs-gutter-x) * .625);
	  padding-right: calc(var(--bs-gutter-x) * .625);
	}
	.row {
		margin-right: calc(-.625 * var(--bs-gutter-x));
		margin-left: calc(-.625 * var(--bs-gutter-x));
	}
	.row > * {
		padding-right: calc(var(--bs-gutter-x) * .625);
		padding-left: calc(var(--bs-gutter-x) * .625);
	}
}

@media only screen and (max-width:1366px) {
	.header-banner {
		padding-top: 200px;
		padding-bottom: 200px;
	}
}


@media only screen and (max-width:768px) {
	.header-banner {
		padding-top: 150px;
		padding-bottom: 150px;
	}
}

@media only screen and (max-width:1199px) {
	.organizer-col h2 {
		font-size: 70px;
	}
	.venue-col .info-box {
		padding: 10px 10px;
	}
	.venue-col .info-box p:last-child {
		margin-top: 0;
	}
}

@media only screen and (max-width:991px) {
	.center991 {
		float: none;
		text-align: center;
	}
	.navbar-header {
	    width: 100%;
	}
	.navbar-toggle {
	    display: block;
	}
	.navbar-collapse {
		max-height: 320px;
	}
	.navbar-collapse.collapse {
	    display: none !important;
	}
	.navbar-collapse.collapse.show {
	    display: block !important;
	    overflow-y: auto !important;
	    margin-top: 5px;
	}
	.navbar-nav {
	    margin: 0;
	    float: none !important; 
	}
	.navbar-nav li {
	    float: none;
	}
	.navbar-nav li > .dropdown-menu {
	    border: 0;
	    float: none;
	    width: auto;
	    position: static;
	    box-shadow: none;
	    background: inherit;
	}
	/* Dropdown Menu (Style design make same as Bootstrap's design. You can customize it how you want.) */
	.navbar-nav li > .dropdown-menu > li > a {
	    color: #777;
	}
	.navbar-nav li:first-child {
		margin-top: 20px;
	}
	.main-nav .navbar-default .navbar-nav>li>a {
		padding: 10px 15px;
	}
	.navbar-nav li > .dropdown-menu > li > a:hover {
	    color: #333;
	    background: inherit;
	}
	.navbar-nav .open .dropdown-menu > li > a {
	    color: #777;
	}
	.navbar-default .navbar-collapse {
		background: #ffffff;
	}
	.nav-transparent .navbar-default .navbar-nav>li>a {
		color: #333333;
	}
	.nav-transparent .navbar-default .navbar-nav>.active>a {
		color: #F32D3A !important;
	}
	.main-nav .navbar-default .navbar-nav>li>a:hover {
		color: #F32D3A;
	}
	.header-banner-content {
		width: 90%;
	}
	.header-banner-two h1 {
		font-size: 46px;
		margin-left: 117px;
		padding: 0 30px 0 0;
	}
	.header-banner-two h1 span {
		left: -116px;
		margin-right: -91px;
	}
	.organizer-area {
		text-align: center;
	}
	.my-select {
		margin-bottom: 30px;
	}
	.ticket-area {
		text-align: center;
	}
	.organizer-img-col:before {
		left: -30px;
		top: -30px;
	}
	
}

@media only screen and (max-width:960px) {
	.header-banner {
		text-align: center;
		padding-top: 180px;
	}
}

@media only screen and (max-width:767px) {	  
	.center767 {
		float: none;
		text-align: center;
	}
	.sponsor-col a img {
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
	.main-nav .navbar-brand {
		margin-left: 15px;
	}
	.left-img {
		width: 120px;	
	}
	.right-img {
		width: 120px;
	}
	.header-banner-two h1 {
		font-size: 34px;
		margin-left: 101px;
	}
	.header-banner-two h1 span {
		left: -97px;
		margin-right: -75px;
	}
	.header-banner-two h1 sup {
		font-size: 14px;
		top: 10px;
	}
	.countdown-two .countdown-container {
		min-width: 100px;
	}
	.countdown-two .countdown-container .countdown-value {
		font-size: 30px;
		line-height: 1;
		padding: 5px 10px;
	}
	.about-event-topic {
		display: block;
		padding-top: 40px;
	}
	.about-event-topic .item {
		padding: 50px 15px 32px;
		margin: 0 7.5px 60px;
	}
	.about-event-topic .item:before {
		display: none;
	}
	.about-event-topic .serial-number {
		top: -25px;
	}

}


@media only screen and (max-width:600px) {
	.fw-600 {
		width: 100%;
	}
	.header-banner h1 {
		font-size: 40px;
	}
	.header-banner-two h1 {
		font-size: 34px;
	}
}

@media only screen and (max-width:575px) {
	.header-banner.header-banner-two {
		padding-top: 170px;
		padding-bottom: 130px;
	}
	.header-banner-two h1 {
		border-radius: 5px;
		margin-left: 0;
		padding: 11px 30px;
	}
	.header-banner-two h1 span {
		display: none;
	}
	.organizer-img-col:before {
		border-width: 10px;
		height: calc(100% + 10px);
		left: -15px;
		top: -15px;
	}
}

@media only screen and (max-width:480px) {
	.header-banner {
		padding-top: 140px;
	}
	.countdown-container {
		margin-bottom: 20px;
	}
	.main-banner-two .countdown-container .countdown-value {
		font-size: 20px;
		padding: 10px 15px;
	}
}

@media only screen and (max-width:479px) {
	.header-banner.header-banner-two {
		padding-top: 150px;
		padding-bottom: 70px;
	}
	.header-banner-two h1 {
		font-size: 28px;
		padding: 11px 15px;
	}
	.header-banner-two h3 {
		font-size: 30px;
	}
	.venue-col .info-box-floating {
		position: relative;
		max-width: none;
		right: auto;
		border-radius: 0;
		bottom: auto;
		margin-top: -3px;
	}
}
@media only screen and (max-width:400px) {
	.organizer-col h2 {
	    font-size: 50px;
	}
	.organizer-col h3 {
	    font-size: 45px;
	}
}

@media only screen and (max-width:420px) {
	.hi-icon-effect-4 .hi-icon {
		margin: 0 5px;
	}
	.countdown-container .countdown-value {
		font-size: 20px;
		padding: 10px 15px;
	}
	.header-banner {
		padding-top: 200px;
	}
}
@media only screen and (max-width:380px) {
	.header-banner {
		padding-top: 150px;
	}
	.main-banner-two .header-banner {
		padding: 50px 0;
	}
	.main-banner-two .header-banner h4 {
		padding: 0 20px;
	}
}
@media only screen and (max-width:375px) {
	
}
@media only screen and (max-width:320px) {
	.countdown-container .countdown-value {
		font-size: 16px;
		padding: 8px 12px !important;
	}
	.header-banner {
		padding-top: 150px;
	}
	.header-banner h1 {
		font-size: 30px;
	}
	.header-banner h4 {
		font-size: 14px;
	}
}
